In [1]:
# Dependencies
import numpy as np
import pandas as pd
from config import db_password
import pyodbc
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy as db
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = db.create_engine('postgresql://postgres:nodebt@127.0.0.1:5432/Online_Shoppers_Intention')
connection = engine.connect()
metadata = db.MetaData()
customer_id = db.Table('online_shoppers', metadata, autoload=True, autoload_with=engine)

In [3]:
# Print the column names
print(customer_id.columns.keys())

['administrative', 'administrative_duration', 'informational', 'informational_duration', 'productrelated', 'productrelated_duration', 'bouncerates', 'exitrates', 'pagevalues', 'specialday', 'month_name', 'operatingsystems', 'browser', 'region', 'traffictype', 'visitortype', 'weekend', 'revenue', 'visit_id']

In [4]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
# print classes to confirm f

Base.classes.keys()

['online_shoppers']

In [6]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [11]:
# Make a connection to the SQL database
conn = engine.connect()

In [15]:
# Query All Records in the the Database
visitor_type_df = pd.read_sql("SELECT * FROM online_shoppers", conn)
visitor_type_df.head()

,administrative,administrative_duration,informational,informational_duration,productrelated,productrelated_duration,bouncerates,exitrates,pagevalues,specialday,month_name,operatingsystems,browser,region,traffictype,visitortype,weekend,revenue,visit_id
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False,1
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False,2
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False,3
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False,4
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False,5

In [16]:
visitor_type_df = pd.read_sql("SELECT visitortype, month_name,bouncerates FROM online_shoppers", conn)
visitor_type_df.head()

         visitortype month_name  bouncerates
0  Returning_Visitor        Feb         0.20
1  Returning_Visitor        Feb         0.00
2  Returning_Visitor        Feb         0.20
3  Returning_Visitor        Feb         0.05
4  Returning_Visitor        Feb         0.02

In [17]:
visitor_type_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   visitortype  12330 non-null  object
 1   month_name   12330 non-null  object
 2   bouncerates  12330 non-null  float64
dtypes: float64(1), object(2)
memory usage: 289.1+ KB

In [20]:
visitor_type_df["visitortype"].value_counts()

Returning_Visitor    10551
New_Visitor           1694
Other                   85
Name: visitortype, dtype: int64

In [21]:
# explore the value counts with visitor typw with certain month 
visitor_type_df["month_name"].value_counts()

May     3364
Nov     2998
Mar     1907
Dec     1727
Oct      549
Sep      448
Aug      433
Jul      432
June     288
Feb      184
Name: month_name, dtype: int64

In [22]:
# explore the value counts with visitor typw with certain month 
visitor_type_df["bouncerates"].describe()

count    12330.000000
mean         0.022191
std          0.048488
min          0.000000
25%          0.000000
50%          0.003112
75%          0.016813
max          0.200000
Name: bouncerates, dtype: float64