In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [6]:
from google.colab import files


uploaded = files.upload()

Saving LoanStats_2019Q1.csv to LoanStats_2019Q1 (1).csv

In [7]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [8]:
# Create our features
X = df.drop("loan_status", axis=1)
X = pd.get_dummies(X)

# Create our target
y = df.loc[:, target].copy()

In [9]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [10]:
# Check the balance of our target values
y['loan_status'].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [11]:
# Normal train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
print(Counter(y_train['loan_status']))
print(Counter(y_test['loan_status']))

Counter({'low_risk': 51366, 'high_risk': 246})
Counter({'low_risk': 17104, 'high_risk': 101})

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [12]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
BRFC_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
BRFC_model.fit(X_train, y_train)
print(Counter(y_train['loan_status']))

Counter({'low_risk': 51366, 'high_risk': 246})

In [13]:
# Calculate predictions
y_pred = BRFC_model.predict(X_test)

In [14]:
# Calculated the balanced accuracy score
from sklearn.metrics import confusion_matrix, accuracy_score
balanced_accuracy_score(y_test,y_pred)

0.7885466545953005

In [15]:
# Display the confusion matrix
cmatrix = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cmatrix_df = pd.DataFrame(
    cmatrix, index=["Actual High_Risk", "Actual Low_Risk"], columns=["Predicted High_Risk", "Predicted Low_Risk"])

cmatrix_df

                  Predicted High_Risk  Predicted Low_Risk
Actual High_Risk                   71                  30
Actual Low_Risk                  2153               14951

In [16]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.70      0.87      0.06      0.78      0.60       101
   low_risk       1.00      0.87      0.70      0.93      0.78      0.62     17104

avg / total       0.99      0.87      0.70      0.93      0.78      0.62     17205

In [17]:
# This will show the imbalanced classification report as a Pandas Dataframe for better readability
# Source: https://stackoverflow.com/questions/39662398/scikit-learn-output-metrics-classification-report-into-csv-tab-delimited-format'''
from sklearn import metrics
report = metrics.classification_report(y_test, y_pred, output_dict=True)
df_classification_report_imbalanced = pd.DataFrame(report).transpose()
df_classification_report_imbalanced = df_classification_report_imbalanced.sort_values(by=['f1-score'], ascending=False)

df_classification_report_imbalanced

              precision    recall  f1-score       support
low_risk       0.997997  0.874123  0.931962  17104.000000
weighted avg   0.992326  0.873118  0.926850  17205.000000
accuracy       0.873118  0.873118  0.873118      0.873118
macro avg      0.514961  0.788547  0.496519  17205.000000
high_risk      0.031924  0.702970  0.061075    101.000000

In [18]:
# List the features sorted in descending order by feature importance
# First, set option to print entire DataFrame and not show "..." in middle to truncate:
pd.set_option("display.max_rows", None, "display.max_columns", None)

importances = pd.DataFrame(BRFC_model.feature_importances_, index = X_train.columns, columns=['Importance']).sort_values('Importance', ascending=False)
importances.loc[:,:]

                                     Importance
total_rec_prncp                        0.078768
total_pymnt                            0.058838
total_pymnt_inv                        0.056256
total_rec_int                          0.053555
last_pymnt_amnt                        0.050033
int_rate                               0.029670
issue_d_Jan-2019                       0.021129
installment                            0.019802
dti                                    0.017471
out_prncp_inv                          0.016858
total_bal_ex_mort                      0.016413
mths_since_recent_inq                  0.015221
issue_d_Mar-2019                       0.015115
revol_bal                              0.014927
max_bal_bc                             0.014899
out_prncp                              0.014881
mo_sin_old_rev_tl_op                   0.014859
annual_inc                             0.014833
bc_util                                0.014614
tot_hi_cred_lim                        0.014488
mo_sin_old_il_acct                     0.013921
mths_since_rcnt_il                     0.013534
total_rev_hi_lim                       0.013365
avg_cur_bal                            0.013323
bc_open_to_buy                         0.013266
il_util                                0.013115
total_bc_limit                         0.013045
all_util                               0.013045
pct_tl_nvr_dlq                         0.013030
tot_cur_bal                            0.012856
total_il_high_credit_limit             0.012799
inq_last_12m                           0.012774
total_bal_il                           0.011969
mo_sin_rcnt_tl                         0.010983
loan_amnt                              0.010580
mths_since_recent_bc                   0.010575
num_rev_accts                          0.010320
total_acc                              0.010209
open_acc_6m                            0.009754
num_il_tl                              0.009662
num_actv_rev_tl                        0.009632
mo_sin_rcnt_rev_tl_op                  0.009393
num_bc_tl                              0.008724
num_sats                               0.008629
num_op_rev_tl                          0.008331
num_bc_sats                            0.007571
num_tl_op_past_12m                     0.007549
open_act_il                            0.007490
open_acc                               0.007382
num_rev_tl_bal_gt_0                    0.007273
total_rec_late_fee                     0.006999
num_actv_bc_tl                         0.006867
acc_open_past_24mths                   0.006714
open_il_24m                            0.006561
inq_fi                                 0.006241
inq_last_6mths                         0.006216
mort_acc                               0.006171
total_cu_tl                            0.006083
issue_d_Feb-2019                       0.005640
open_rv_24m                            0.005635
percent_bc_gt_75                       0.005131
next_pymnt_d_Apr-2019                  0.005106
next_pymnt_d_May-2019                  0.005037
open_il_12m                            0.004860
tot_coll_amt                           0.004199
open_rv_12m                            0.004019
num_accts_ever_120_pd                  0.003757
delinq_2yrs                            0.003083
home_ownership_RENT                    0.002913
home_ownership_OWN                     0.002825
verification_status_Not Verified       0.002205
application_type_Joint App             0.002091
pub_rec                                0.002015
verification_status_Verified           0.001933
application_type_Individual            0.001902
verification_status_Source Verified    0.001505
home_ownership_MORTGAGE                0.001459
pub_rec_bankruptcies                   0.001373
initial_list_status_w                  0.001152
initial_list_status_f                  0.001101
num_tl_90g_dpd_24m                     0.000996
collections_12_mths_ex_med             0.000715
home_ownership_ANY                     0.000496
chargeoff_within_12_mths               0.000273
pymnt_plan_n                           0.000000
hardship_flag_N                        0.000000
num_tl_30dpd                           0.000000
tax_liens                              0.000000
recoveries                             0.000000
num_tl_120dpd_2m                       0.000000
collection_recovery_fee                0.000000
policy_code                            0.000000
acc_now_delinq                         0.000000
delinq_amnt                            0.000000
debt_settlement_flag_N                 0.000000

### Easy Ensemble AdaBoost Classifier

In [19]:
# There was an error in previous runs that said: AttributeError: 'BalancedBaggingClassifier' object has no attribute 'n_features_in_'
# It seems that the attribute n_features_in_ is deprecated and its support was lost in sklearn version 1.2
# We need to downgrade the scikit-learn package using: pip install scikit-learn==1.0 -U to solve the issue
# Source of the fix: https://github.com/scikit-learn-contrib/imbalanced-learn/issues/872
# Direct link to the fix comment: https://github.com/scikit-learn-contrib/imbalanced-learn/issues/872#:~:text=You%20have%20to%20downgrade%20the%20scikit%2Dlearn%20package%20using%3A%20pip3%20install%20scikit%2Dlearn%3D%3D1.0%20%2DU%0AThe%20attribute%20n_features_in_%20is%20deprecated%20and%20its%20support%20was%20lost%20in%20sklearn%20version%201.2

In [20]:
pip install scikit-learn==1.0 -U

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn==1.0 in /usr/local/lib/python3.7/dist-packages (1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0) (1.4.1)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0) (1.21.6)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0) (1.1.0)

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [22]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier

eec = EasyEnsembleClassifier(n_estimators=100, random_state=1)
eec.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [23]:
# Calculated the balanced accuracy score
y_pred = eec.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9103728756944658

In [24]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

y_pred = eec.predict(X_test)
cmatrix2 = confusion_matrix(y_test, y_pred)

cmatrix2

array([[  116,    15],
       [ 1462, 21117]])

In [25]:
# This will show the confusion matrix as a Pandas Dataframe for better readability
cmatrix_df2 = pd.DataFrame(
    cmatrix2, index=["Actual High_Risk", "Actual Low_Risk"], columns=["Predicted High_Risk", "Predicted Low_Risk"])

cmatrix_df2

                  Predicted High_Risk  Predicted Low_Risk
Actual High_Risk                  116                  15
Actual Low_Risk                  1462               21117

In [26]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.89      0.94      0.14      0.91      0.82       131
   low_risk       1.00      0.94      0.89      0.97      0.91      0.83     22579

avg / total       0.99      0.93      0.89      0.96      0.91      0.83     22710

In [27]:
# This will show the classification report as a Pandas Dataframe for better readability
# Source: https://stackoverflow.com/questions/39662398/scikit-learn-output-metrics-classification-report-into-csv-tab-delimited-format'''
from sklearn import metrics
report2 = metrics.classification_report(y_test, y_pred, output_dict=True)
df_classification_report2 = pd.DataFrame(report2).transpose()
df_classification_report2 = df_classification_report2.sort_values(by=['f1-score'], ascending=False)

df_classification_report2

              precision    recall  f1-score       support
low_risk       0.999290  0.935250  0.966210  22579.000000
weighted avg   0.993950  0.934963  0.961419  22710.000000
accuracy       0.934963  0.934963  0.934963      0.934963
macro avg      0.536400  0.910373  0.550981  22710.000000
high_risk      0.073511  0.885496  0.135752    131.000000